<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<header>
    <div id="banner">
        <img alt="BeaverTix Logo" src="https://cdn-icons-png.flaticon.com/512/427/427502.png" class="">
        <div id="title-container">
            <a href="/">
                <h1>BeaverTix</h1>
            </a>
            <p>A ticket claiming service for sporting events at Oregon State University</p>
        </div>
        <div class="vl"></div>
        <div id="navbar-items">
            <a href="/option">
                <h2>Nav bar option</h2>
            </a>
        </div>
    {% block content %}
    {% endblock %}
</header>
</html>


