{% extends "base.j2" %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
    {% block content %}
    <body> 
    <!-- Put page elements below here.. -->
    </body>
    {% endblock %}
</html>


